<div class="about-container">
  <h1>About Us</h1>
  <h5>Selamat datang di "E-project"!</h5>
  <p>Kami adalah sebuah tim yang berdedikasi untuk mendukung perjalanan pendidikan mahasiswa Departemen Sistem Informasi Universitas Andalas. Kami percaya bahwa pendidikan tinggi harus memberikan dukungan yang kuat bagi para mahasiswa dalam mengembangkan potensi akademik dan profesional mereka.</p>
  <p>Kami senang menerima masukan, saran, pertanyaan, atau umpan balik dari Anda. Jangan ragu untuk menghubungi kami melalui alamat email di
    <a href="mailto:info@example.com">eprojectsiftiunand@gmail.com </a>.</p>
</div>

              