
  <h1>Error</h1>
  <p><%= message %></p>
  <script>
    // Menampilkan notifikasi alert pada sisi klien
    alert('<%= message %>');
    // Redirect ke halaman yang sesuai
    window.location.href = '/kelas';
  </script>
