<form class="form-pencarian" action="">
  <input type="text" placeholder="Search..">
  <button>Search</button>
</form>
<div class="wrapper-postingan">
  <div class="postingan">
    <i class="bi bi-folder-fill"></i>
    <a href=""> ERP</a>
  </div>
  <div class="postingan">
    <i class="bi bi-folder-fill"></i>
    <a href=""> Pemogramman Web </a>
  </div>
  <div class="postingan">
    <i class="bi bi-folder-fill"></i>
    <a href=""> DATABASE</a>
  </div>
  <div class="postingan">
    <i class="bi bi-folder-fill"></i>
    <a href=""> Dasar - Dasar Pemograman</a>
  </div>
  <div class="postingan">
    <i class="bi bi-folder-fill"></i>
    <a href=""> PBO</a>
  </div>
</div>

