<div class="wrapper-profil">
  <form action="/edit-propil" method="POST" enctype="multipart/form-data">
    <div class="col-sm-5 file-input-container mb-5">
      <label for="file-upload">
        <% if (user.avatar) { %>
          <img src="./img/<%= user.avatar %>" id="avatar-preview" >
          <% } else { %>
            <img src="./img/unand.png" id="avatar-preview" >
            <% } %>
          </label>
      <span class="file-label">
        <input type="file" name="avatar" id="file-upload-avatar">
        <span class="file-label-text">Ganti avatar</span>
      </span>
    </div>
  <div class="row mb-3">
    <label for="username" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-5">
      <input value="<%= user.username %>" name="username" class="form-control" type="text">
    </div>
  </div>
  <div class="row mb-3">
    <label for="nim" class="col-sm-2 col-form-label">NIM</label>
    <div class="col-sm-5">
      <input disabled value="<%= user.id_user %>" name="id_user" class="form-control" type="text">
    </div>
  </div>
  <div class="row mb-3">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-5">
      <input value="<%= user.email %>" name="email" type="email" class="form-control" id="email">
    </div>
  </div>
    <div class="col-sm-2">
      <button type="submit" class="btn-submit-profil">Save</button>
    </div>
</form>
</div>


